/*------- Contact --------*/


.contact-container{
    margin-top: 60px;
    background-color: black;
    color: white;
    padding: 40px;
}

.contact-row{
    justify-content: space-around;
}

.contact-icon{
    color :rgb(24,210,110) ;
    font-size: 60px !important;
    border: 1px transparent whitesmoke !important;
    padding: 10px;
    border-radius: 50%;
   
}


.main-contact-column{
    background-color: rgb(28,21,40);
    padding: 20px 5px;
}


.inner-contact-column{
    display: flex;
    justify-content: center !important;
    flex-direction: column;
}

 .contact-container .home-contact-section{
    font-size: 25px !important;
    margin-right:10px;
    border: 1px transparent whitesmoke !important;
    padding: 10px;
    color: #ffff;
    border-radius: 50%;
    
}
